body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: #fff;
    font-size: 24px;
  }
  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin-right: 20px;
    padding: 19px;
  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
  }
  .menu li:hover {
    background: #2c2727;
    border-radius: 5px;
  }
  .menu a:hover {
    color: rgb(166, 255, 0);
  }
  
    .menu.active {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #333;
      width: 100%;
    }
  
    .menu.active li {
      margin: 10px;
    }