
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: bisque;
}
.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.2s ease;
}

.card:hover {
    color: chocolate;
}


@media (min-width: 768px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr); /* Three cards in a row */
    }
}
